#test

In [68]:
#pip install Faker

In [29]:
import pandas as pd
import numpy as np
from faker import Faker
fake = Faker()

In [30]:
df = pd.DataFrame(
    [
        {
            "first_name": fake.first_name(),
            "city": fake.city(),
            "postcode": fake.postcode(),
            "birthday": fake.date_time_this_year(),
            
        }
        for _ in range(100000)
    ]
)

df_dubl = df.head(10000)                      # выбрал первые строки сета (что бы копирнуть - создать дубли)
df = pd.concat([df, df_dubl])
df['postcode'] = df['postcode'].astype(int)   # поменял тип данных этого датасета (что бы соответствовать условию)
df = df.drop_duplicates()                     # удаляю дубли
df = df.isnull                                # удаляю строки где нет пропусков значений числового типа данных  (в этом дата сете пропусков нет)
df.set_index('birthday', inplace=True)    # нужно поменять индекс сделать временной ряд
idxs = df.index.indexer_between_time(
    "1:00", 
    "3:00", 
    include_start=True,
    include_end=True)

df = df.iloc[pd.Index(np.arange(len(df))).difference(idxs)]    # удаляю записи временного промежутка

df.to_csv(r"C:\Users\vtk_ru1\OneDrive - Servier Monde\Рабочий стол\Project ML\Skytec_test\skytec_test\fake.csv", index=False)  # создал датасет локалтно на компе

AttributeError: 'function' object has no attribute 'set_index'

In [26]:
df

<bound method DataFrame.isnull of       first_name            city  postcode            birthday
0       Brittany   Warrenborough     41448 2024-07-26 13:13:32
1      Elizabeth         Rickton     19116 2024-04-04 18:04:38
2      Katherine        Bethview     29525 2024-04-26 01:25:36
3          Diana   Port Samantha      2176 2024-05-04 03:59:31
4          Janet       Davistown      2523 2024-06-16 21:48:58
...          ...             ...       ...                 ...
99995     George      Whiteburgh     41796 2024-03-28 11:02:32
99996      Henry       Whiteport     64895 2024-07-04 12:45:22
99997       Lisa   Benjaminburgh     59278 2024-07-04 11:09:41
99998    Michele  Shafferborough     82912 2024-06-04 00:00:52
99999    Melinda        Tinaberg      3987 2024-05-03 17:57:21

[100000 rows x 4 columns]>

In [28]:
df.set_index('birthday', inplace=True)    # нужно поменять индекс сделать временной ряд
idxs = df.index.indexer_between_time(
    "1:00", 
    "3:00", 
    include_start=True,
    include_end=True)

df = df.iloc[pd.Index(np.arange(len(df))).difference(idxs)]    # удаляю записи временного промежутка

df.to_csv(r"C:\Users\vtk_ru1\OneDrive - Servier Monde\Рабочий стол\Project ML\Skytec_test\skytec_test\fake.csv", index=False)  # создал датасет локалтно на компе

AttributeError: 'function' object has no attribute 'set_index'

In [17]:
df = df.set_index('birthday')

AttributeError: 'function' object has no attribute 'set_index'

In [18]:
df

<bound method DataFrame.isnull of       first_name                 city  postcode            birthday
0         Meghan            Lake Rita     19151 2024-07-23 17:33:12
1       Brittany         Gregorymouth     37965 2024-03-18 23:52:11
2          David           Ellenville     19118 2024-03-01 14:29:38
3         Amanda  Lake Jacquelinetown     76687 2024-02-20 07:58:10
4        Timothy        Rachelchester      3292 2024-07-06 15:38:01
...          ...                  ...       ...                 ...
99995     Andrew         Heathermouth     93116 2024-01-05 10:47:07
99996      Jacob     West Matthewview      1390 2024-07-25 21:13:35
99997      Erica          Antoniofort     13040 2024-02-02 08:26:42
99998      James          New Rachael      4928 2024-07-15 13:26:25
99999     Pamela           Medinaberg     93559 2024-01-02 04:24:02

[100000 rows x 4 columns]>

In [ ]:
def calculation_of_metrics():
    
    df = pd.read_csv(r"C:\Users\vtk_ru1\OneDrive - Servier Monde\Рабочий стол\Project ML\Skytec_test\skytec_test\fake.csv", index=False)

    # Группировка данных по часам и выполнение агрегации
    metrics = df.groupby(df.index.dt.floor('h')).agg(
        unique=('city', 'nunique'),          # количество уникальных городов
        average=('postcode', 'mean'),        # среднее значение почтового индекса)
        median=('postcode', 'median')        # медиана почтового индекса)
    )

    # Сохранение результатов в файл 'metrics.csv'
    metrics.to_csv(r"C:\Users\vtk_ru1\OneDrive - Servier Monde\Рабочий стол\Project ML\Skytec_test\skytec_test\metrics.csv", index=False)